In [2]:
from datasets import load_dataset
import spacy as sp
import random
import en_core_web_lg
import pandas as pd

In [3]:
nlp = en_core_web_lg.load()

In [38]:
def dbindex(target, comparison):
    #Pick a random entry from the comparison dataset.
    index = random.randrange(0, len(comparison), 1)

    #Find that entry.
    comparisonEntry = comparison['sentence'][0]

    #Vectoritze entry.
    vectorizedComparisonEntry = nlp(comparisonEntry)

    #initialitize total cosine similarity
    tcs = 0

    for index, row in target.iterrows():
        vecEntry = nlp(row[target.columns[0]])
        tcs += vecEntry.similarity(vectorizedComparisonEntry)

    #average out
    dbi = tcs/len(target)
    return dbi

In [5]:
dataset1 = load_dataset("imdb")

Downloading builder script:   0%|          | 0.00/4.31k [00:00<?, ?B/s]

Downloading metadata:   0%|          | 0.00/2.17k [00:00<?, ?B/s]

Downloading readme:   0%|          | 0.00/7.59k [00:00<?, ?B/s]

Downloading data:   0%|          | 0.00/84.1M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/25000 [00:00<?, ? examples/s]

Generating test split:   0%|          | 0/25000 [00:00<?, ? examples/s]

Generating unsupervised split:   0%|          | 0/50000 [00:00<?, ? examples/s]

In [8]:
dataset1.set_format(type='pandas')
targetdset = dataset1['train'][1:]
targetdset = pd.DataFrame(targetdset['text'])
targetdset

                                                    text
0      "I Am Curious: Yellow" is a risible and preten...
1      If only to avoid making this type of film in t...
2      This film was probably inspired by Godard's Ma...
3      Oh, brother...after hearing about this ridicul...
4      I would put this at the top of my list of film...
...                                                  ...
24994  A hit at the time but now better categorised a...
24995  I love this movie like no other. Another time ...
24996  This film and it's sequel Barry Mckenzie holds...
24997  'The Adventures Of Barry McKenzie' started lif...
24998  The story centers around Barry McKenzie who mu...

[24999 rows x 1 columns]

In [9]:
offensivedataset = load_dataset("henryscheible/implicit_bias")
offensivedataset.set_format(type='pandas')
compdataset = offensivedataset['train'][1:]
compdataset.drop(['category', 'label'], axis = 1)

                                               sentence
0     They are Asians. I don't want to invite too ma...
1     They are Queer. Why do all gay men have to be ...
2     They are OldPeople. All Middle Easterners are ...
3     They are Females. She's always so put together...
4     They are Christans. I don't understand how you...
...                                                 ...
1003  They are MiddleEastern. I saw a group of Middl...
1004  They are Asians. Oh, my grandpa doesn't even k...
1005  They are Queer. I can't believe she's still tr...
1006  They are Whites. Oh, you're white, so you prob...
1007  They are Christans. I heard that church is jus...

[1008 rows x 1 columns]

In [58]:
index = dbindex(targetdset,compdataset)
index

0.7907949483370598

IDMB dataset is biased

Toxic dataset